<% provide(:title,'About Us')%>
		<h1>About Me</h1>
		<p>
  			Tuhin Chakraborty likes to make things, like music and films and stories and sometimes web applications! This is site is the product of practice for the big leagues.
		</p>