<% provide(:title, 'Contact')%>
	<h1>Contact</h1>
	<p>
		Rails is a framework for the programming
		language Ruby. It is awesome for building
		web applications. You can learn Rails
		<a href="http://railstutorial.org/">here.</a>
		And you can reach me at tuhin.c@gmail.com.
	</p>