<% provide(:title, 'Help') %>
    <h1>Help</h1>
    <p>
      Sorry, dude, there's not much I can do for you.
	  Play around with it a little, you'll figure it out!
	  You can get help on the Ruby on Rails Tutorial at the
      <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
      And if you want to learn Rails, check out the 
      <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
    </p>