<% if object.errors.any? %>
  <div id="error_explanation">
	 <div class="alert alert-error">
		Umm, dude you made <%= pluralize(object.errors.count, "mistake") %>
	</div>
	<ul>
	<% object.errors.full_messages.each do |msg| %>
	  <li>* <%= msg %></li>
	<% end %>
	</ul>
  </div>
<% end %>